.navPanel {
	height: 100%;
	width: 225px;
	background-color: white;
	border-right: 1px solid lightgrey;
	display: inline-block;
	position: relative;
	float: left;
	z-index: 3;
}
body {
	width: 100%;
	height: 100%;
}
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-height: 100%;
}
* {}
.infoBox {
	width: 100%;
	height: 150px;
	border-bottom: 1px solid lightgrey;
}
.nameBox {
	height: 60px;
	margin: 0px;
	margin-left: 5px;
	font: 300 1.0em/1.3em 'Mukta Malar';
}
.boxHolder {
	width: 100%;
	height: 610px;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	margin: 0px;
}
.panelContainer {
	width: 225px;
	height: 100%;
	border-right: 1px solid lightgrey;
	position: relative;
	float: left;
}
.logo {
	height: 90px;
	margin-top: 20px;
}
.tabText {
	margin: 0px;
	margin-left: 15px;
	margin-top: 13px;
	display: inline-block;
	position: absolute;
	padding-top: -8px;
	font: 600 1.3em/1.3em 'Mukta Malar';
	color: #5e6163;
}
.tabPic {
	margin-left: 28px;
	margin-top: 13px;
	display: inline-block;
}
.tabPicPS {
	margin-left: 27px;
	margin-top: 10px;
	display: inline-block;
}
#logoPic {
	left: 50%;
	position: relative;
	margin-left: -62.5px;
}
.mainTemp {
	width: 365px;
	height: 105px;
	position: absolute;
	display: flex;
	left: 75%;
	top: 5.5%;
	font: 300 1.12em/1.3em 'Mukta Malar';
}
.tempToday {
	flex-basis: 105px;
	flex-grow: 1;
	flex-shrink: 1;
	height: 100%;
	text-align: center;
	display: inline-block;
}
.tempOne {
	margin: 0px;
	margin-top: -25px;
	margin-bottom: 15px;
	font-size: 30px;
	padding: 0px;
	color: #a5c13e;
	height: 40px;
	font: 300 2.5em/1.5em 'Mukta Malar';
}
#navDate {
	margin-top: -2.5px;
	display: inline-block;
	font: 300 1.0em/1.3em 'Mukta Malar';
	font-size: 18px;
	color: grey;
	margin-left: 35px;
}
#place {
	margin: 0px;
	font-size: 7px;
	font: 400 .42em/1.3em 'Mukta Malar';
	margin-top: -8px;
	height: 12px;
}
#symbol {
	font-size: 20px;
	top: -20px;
	position: relative;
}
.tempTwo {
	height: 95px;
	flex-basis: 79.5px;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
	border-right: 0.5px solid lightgrey;
	border-left: 0.5px solid lightgrey;
}
.tempTwoDay {
	height: 20px;
	margin: 0px;
}
.tempTwoPic {
	height: 27px;
	position: relative;
	top: 22px;
}
.tempTwoText {
	position: relative;
	margin-top: 5px;
	color: black;
	margin-left: 2px;
}
.tempThree {
	height: 95px;
	flex-basis: 79.5px;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
	border-right: 0.5px solid lightgrey;
}
.tempThreeDay {
	height: 20px;
	margin: 0px;
}
.tempThreePic {
	height: 27px;
	position: relative;
	top: 22px;
}
.tempThreeText {
	position: relative;
	margin-top: 5px;
	color: black;
	margin-left: 2px;
}
.tempFour {
	height: 95px;
	flex-basis: 79.5px;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
}
.tempFourDay {
	height: 20px;
	margin: 0px;
}
.tempFourPic {
	height: 27px;
	position: relative;
	top: 22px;
}
.tempFourText {
	position: relative;
	margin-top: 5px;
	color: black;
	margin-left: 2px;
}
#daySymbol {
	font-size: 14px;
	top: -10px;
	position: relative;
}
#desc {
	margin: 0px;
	font-size: 10px;
	margin-top: -39px;
	font: 400 .45em/1.3em 'Mukta Malar';
	height: 12px;
}
#navName {
	margin-top: 0px;
	display: inline-block;
	margin-bottom: -2.5px;
	font: 600 1.5em/1.5em 'Mukta Malar';
	font-size: 19px;
	color: #888;
	margin-left: 35px;
}
.tasksName {}
.projectsName {}
.eventsName {}
.panelTabs {
	height: 605px;
	width: 100%;
	display: inline-block;
	border-right: 1px solid lightgrey;
}
.tab {
	width: 100%;
	height: 50px;
	cursor: pointer;
}
.tab:hover {
	background-color: #d9e9f5;
}
.main {
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	display: inline-block;
	padding: 0px;
	position: relative;
	float: left;
}
.mainNav {
	width: 100%;
	height: 170px;
	background-color: white;
	margin-top: 0px;
	border-bottom: 1px solid lightgrey;
	font: 600 1.5em/1.3em 'Mukta Malar';
	color: #2786ca;
	font-size: 28px;
}
.toolBar {
	height: 42px;
	width: 100%;
	position: fixed;
	background-color: #f5f5f5;
}
.icons {
	position: relative;
	left: 70%;
	height: 20px;
	width: 145px;
	display: inline-block;
	margin: 0px;
	margin-top: 10px;
}
.icon {
	display: inline-block;
	margin: 0px;
	margin-left: 35px;
	cursor: pointer;
}
.addPic {
	margin-left: 25px;
}
ul {
	padding: 0px;
	display: inline-block;
}
.container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	height: 100%;
}
.eventsContainer {
	border: solid #bcbcbc 2px;
}
.tasksContainer {
	border: solid #bcbcbc 2px;
}
.projectsContainer {
	border: solid #bcbcbc 2px;
}
.eventsBox {
	height: 210px;
	top: 20px;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	flex-basis: 650px;
	flex-grow: 1;
	flex-shrink: 1;
}
.calendarBox {
	flex-basis: 260px;
	flex-grow: 1;
	flex-shrink: 1;
	height: 200px;
	position: relative;
	float: left;
	top: 20px;
	text-align: center;
	background-color: white;
	margin-left: 20px;
	margin-right: 10px;
}
#dummyText {
	vertical-align: middle;
}
.projectsBox {
	height: 100px;
	width: 320px;
	clear: both;
	position: relative;
	margin-top: -100px;
	left: 20px;
}
.tasksBox {
	height: 495px;
	flex-basis: 650px;
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
	top: 20px;
	margin-right: 20px;
	margin-left: 10px;
}
.eventsTab {
	width: 100%;
	background-color: #a5c13e;
	padding-bottom: 0px;
	height: 35px;
	text-align: center;
	cursor: pointer;
	display: flex;
}
.projectsTab {
	width: 100%;
	background-color: #a5c13e;
	padding-bottom: 0px;
	height: 35px;
	text-align: center;
	cursor: pointer;
}
.eventTime {
	margin: 0px;
	font-size: 20px;
	margin-top: 5px;
}
.projectsTabText {
	font: 400 1.5em/1.3em 'Mukta Malar';
	position: relative;
	top: -90%;
	color: white;
	display: inline-block;
}
.eventsTabText {
	font: 400 1.5em/1.3em 'Mukta Malar';
	position: relative;
	height: 55px;
	width: 65px;
	color: white;
	display: inline-block;
}
.event {
	font: 400 .8em/1.3em 'Mukta Malar';
	width: 100%;
	height: 56.5px;
	background-color: white;
	border-top: solid #eaeaea 1px;
	border-bottom: solid #eaeaea 1px;
}
.eventName {
	font: 600 1.5em/1.3em 'Mukta Malar';
	margin: 0px;
}
.eventDate {
	font: 300 1.1em/1.3em 'Mukta Malar';
	margin: 0px;
}
.eventDetails {
	position: relative;
	left: 10%;
	top: 10%;
	display: inline-block;
}
.eventDetails2 {
	position: relative;
	left: 48%;
	top: 1%;
	display: inline-block;
}
.mainNavDate {
	display: inline-block;
	left: 2%;
	position: relative;
	top: 67%;
}
.nameTabs:hover {
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
.navDateText {
	display: inline-block;
	font: 600 .65em/1.3em 'Mukta Malar';
	font-size: 20px;
}
.project {
	font: 400 .8em/1.3em 'Mukta Malar';
	width: 100%;
	height: 55px;
	background-color: white;
	border-top: solid #eaeaea 1px;
	border-bottom: solid #eaeaea 1px;
}
.projectName {
	font: 600 1.5em/1.3em 'Mukta Malar';
	margin: 0px;
}
.projectDate {
	font: 300 1.1em/1.3em 'Mukta Malar';
	margin: 0px;
}
.projectDetails {
	position: relative;
	left: 10%;
	top: 10%;
	margin-top: 5px;
	display: inline-block;
}
.task {
	font: 400 .8em/1.3em 'Mukta Malar';
	width: 100%;
	height: 55px;
	background-color: white;
	border-top: solid #eaeaea 1px;
	border-bottom: solid #eaeaea 1px;
}
.overdueBox {
	font: 400 .8em/1.3em 'Mukta Malar';
	width: 100%;
	height: 55px;
	background-color: white;
	color: #ce0b24;
	border-top: solid #eaeaea 1px;
	border-bottom: solid #eaeaea 1px;
	text-align: left;
	cursor: pointer;
}
.bigNum {
	font-size: 23px;
}
.bigNumNav {
	font-size: 24px;
}
.bigNumEvent {
	font-size: 25px;
}
.overdueText {
	font: 600 1.5em/1.3em 'Mukta Malar';
	margin: 0px;
	margin-top: 5px;
	position: relative;
	left: 2.81481481481481%;
	border-left: 4px solid #ce0b24;
	padding: 10px;
	padding-left: 5px;
}
.tasksName {
	font: 600 1.5em/1.3em 'Mukta Malar';
	margin: 0px;
}
.tasksDate {
	font: 300 1.1em/1.3em 'Mukta Malar';
	margin: 0px;
}
.complexBox {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #9ba2a8;
	text-align: center;
	display: inline-block;
	margin-left: 5px;
	position: relative;
	bottom: 4px;
	cursor: pointer;
}
.complexText {
	vertical-align: middle;
	display: inline-block;
	margin-top: 4px;
	font: 200 1.25em/1.3em 'Mukta Malar';
	color: white;
}
.tasksDetails {
	position: relative;
	left: 1.5%;
	top: 10%;
	display: inline-block;
	padding-left: 8.5px;
}
.slider {
	position: absolute;
	left: 85%;
	top: 19%;
	display: inline-block;
}
#sliderTest {
	position: absolute;
	left: 85%;
	top: 19%;
	display: inline-block;
	background-color: #ce0b24;
}
.eventStart {
	font: 400 2em/1.3em 'Mukta Malar';
	margin: 0px;
}
.eventEnd {
	margin: 0px;
}
.tasksTab {
	width: 100%;
	background-color: #2787c9;
	padding-bottom: 0px;
	height: 35px;
	text-align: center;
	cursor: pointer;
	display: flex;
}
.tasksTabText {
	font: 400 1.5em/1.3em 'Mukta Malar';
	margin-top: 4px;
	color: white;
	display: inline-block;
}
.projectsTab {
	width: 100%;
	background-color: #f5a623;
	padding-bottom: 5px;
	height: 35px;
	text-align: center;
}
.projectsTabText {
	font: 400 1.5em/1.3em 'Mukta Malar';
	position: relative;
	height: 55px;
	width: 190px;
	color: white;
	display: inline-block;
}
.tasksTabText {
	font: 400 1.5em/1.3em 'Mukta Malar';
	position: relative;
	height: 55px;
	width: 60px;
	color: white;
	display: inline-block;
}
.tasksAddBox {
	font: 400 1.5em/1.3em 'Mukta Malar';
	position: relative;
	height: 55px;
	width: 80px;
	color: white;
	display: inline-block;
}
.eventsAddBox {
	font: 400 1.5em/1.3em 'Mukta Malar';
	position: relative;
	height: 55px;
	width: 80px;
	color: white;
	display: inline-block;
}
.projectsAddBtn {
	font: 400 1.0em/1.3em 'Mukta Malar';
	position: relative;
	color: white;
	display: inline-block;
	margin: 0px;
	margin-left: 20px;
}
.projectsBtnText {
	font: 400 1.0em/1.3em 'Mukta Malar';
	position: relative;
	color: white;
	margin: 0px;
	margin-left: -120px;
	margin-top: 40px;
	display: inline-block;
}
.eventsAddBtn {
	font: 400 1.0em/1.3em 'Mukta Malar';
	position: relative;
	color: white;
	display: inline-block;
	margin: 0px;
	left: 50vh;
}
.eventsBtnText {
	font: 400 1.0em/1.3em 'Mukta Malar';
	position: relative;
	color: white;
	margin: 0px;
	left: 1.3vh;
	margin-top: -5px;
	display: inline-block;
}
.tasksAddBtn {
	font: 400 1.0em/1.3em 'Mukta Malar';
	position: relative;
	color: white;
	display: inline-block;
	margin: 0px;
	left: 50vh;
}
.tasksBtnText {
	font: 400 1.0em/1.3em 'Mukta Malar';
	position: relative;
	color: white;
	margin: 0px;
	left: 1.3vh;
	margin-top: -5px;
	display: inline-block;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #9ec00f;
	-webkit-transition: .4s;
	transition: .4s;
}
.sliderBox {
	position: absolute;
	left: 80%;
	margin-top: 10px;
	display: inline-block;
}
.slider:before {
	position: absolute;
	content: "";
	height: 31px;
	width: 31px;
	left: 1px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	bottom: 1.5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked+.slider {
	background-color: #d0011d;
}
input:focus+.slider {
	box-shadow: 0 0 1px #d0011d;
}
input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	content: url('right.png');
}
#sliderTest {
	position: absolute;
	left: 85%;
	top: 19%;
	display: inline-block;
	background-color: #ce0b24;
}
#sliderTest {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 5px;
	-webkit-transition: .4s;
	transition: .4s;
}
#sliderTest2 {
	position: absolute;
	left: 85%;
	top: 19%;
	display: inline-block;
	background-color: #fece44;
}
#sliderTest2 {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 5px;
	-webkit-transition: .4s;
	transition: .4s;
}
.fa-angle-down {
	position: relative;
	top: 8px;
	right: 6.5px;
	color: white;
}
.complexText {
	margin-left: 5.75px;
}
.blueBg {
	background-color: #2b88c7;
	transition: background-color 0.35s ease;
}
.arrow {
	position: absolute;
	left: 385%;
	bottom: 10px;
}
.fa-angle-right {
	height: 20px;
	width: 20px;
	cursor: pointer;
}
@media screen and (max-width:1720px) {
	.tasksAddBtn {
		left: 40vh;
	}
	.eventsAddBtn {
		left: 40vh;
	}
}
@media screen and (max-width:1680px) {
	.mainTemp {
		left: 70%;
	}
	.tasksAddBtn {
		left: 35vh;
	}
	.eventsAddBtn {
		left: 35vh;
	}
}
@media screen and (max-width:1480px) {
	.mainTemp {
		left: 65%;
	}
	.tasksAddBtn {
		left: 30vh;
	}
	.eventsAddBtn {
		left: 30vh;
	}
}
@media screen and (max-width:1380px) {
	.mainTemp {
		left: 60%;
	}
	.tasksAddBtn {
		left: 23vh;
	}
	.eventsAddBtn {
		left: 23vh;
	}
}
@media screen and (max-width:1240px) {
	.tasksBox {
		flex-basis: 100%;
	}
	.tasksAddBtn {
		left: 80vh;
	}
	.eventsAddBtn {
		left: 80vh;
	}
	.mainTemp {
		left: 38%;
	}
	.mainNavDate {
		font-size: 20px;
	}
	.eventsBox {
		margin-bottom: 70px;
		margin-top: 70px;
		flex-basis: 100%;
	}
	.boxHolder {
		flex-wrap: wrap;
	}
	.calendarBox {
		position: relative;
		top: 20px;
		left: 50%;
		flex: none;
		margin-left: -142px;
		display: inline-block;
		text-align: center;
		background-color: white;
		margin-right: 10px;
	}
}
@media screen and (max-width:1075px) {
	.tasksAddBtn {
		left: 70vh;
	}
	.eventsAddBtn {
		left: 70vh;
	}
}
@media screen and (max-width:985px) {
	.tasksAddBtn {
		left: 60vh;
	}
	.eventsAddBtn {
		left: 60vh;
	}
}
